* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #172033;
}


/* NAVBAR */

.navbar {

    height: 70px;

    background: #11162f;

    color: white;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 7%;

    position: sticky;

    top: 0;

    z-index: 10;
}


.logo {

    font-size: 21px;

    font-weight: bold;
}


.logo span {

    opacity: 0.6;
}


.nav-links {

    display: flex;

    gap: 28px;
}


.nav-links a {

    color: white;

    text-decoration: none;

    font-size: 14px;
}


.nav-links a:hover {

    opacity: 0.7;
}


/* HERO */

.hero {

    min-height: 620px;

    padding: 80px 9%;

    display: grid;

    grid-template-columns: 1.2fr 0.8fr;

    gap: 70px;

    align-items: center;

    background: linear-gradient(
        135deg,
        #10142e,
        #292f69
    );

    color: white;
}


.tag {

    font-size: 12px;

    letter-spacing: 2px;

    font-weight: bold;

    opacity: 0.7;

    margin-bottom: 15px;
}


.hero h1 {

    font-size: 60px;

    line-height: 1.05;

    margin-bottom: 25px;
}


.hero h1 span {

    opacity: 0.65;
}


.description {

    font-size: 17px;

    line-height: 1.7;

    max-width: 650px;

    color: #687086;
}


.hero .description {

    color: #d7dcef;
}


/* BUTTONS */

.buttons {

    display: flex;

    gap: 15px;

    margin-top: 30px;
}


.btn {

    padding: 13px 20px;

    border-radius: 8px;

    text-decoration: none;

    font-weight: bold;
}


.primary {

    background: white;

    color: #161b3c;
}


.secondary {

    border: 1px solid #8891bb;

    color: white;
}


/* RISK CARD */

.risk-card {

    background: white;

    color: #172033;

    padding: 35px;

    border-radius: 20px;

    box-shadow: 0 20px 60px rgba(0,0,0,.3);
}


.risk-card h2 {

    font-size: 65px;

    margin: 30px 0 5px;
}


.risk-card h4 {

    color: #727b90;

    text-transform: uppercase;
}


.progress {

    height: 10px;

    background: #e7eaf1;

    border-radius: 20px;

    margin: 20px 0;
}


.progress div {

    width: 68%;

    height: 100%;

    background: #252d66;

    border-radius: 20px;
}


.warning {

    font-weight: bold;

    font-size: 14px;
}


/* ABOUT */

.about {

    padding: 80px 9%;

    text-align: center;

    max-width: 1000px;

    margin: auto;
}


.about h2 {

    font-size: 38px;

    margin-bottom: 20px;
}


.about p:last-child {

    line-height: 1.7;

    color: #697286;
}


/* FEATURES */

.features {

    padding: 0 9% 80px;

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 18px;
}


.feature {

    background: white;

    padding: 25px;

    border-radius: 15px;

    box-shadow:
        0 8px 25px rgba(20,30,70,.07);
}


.feature div {

    font-size: 28px;

    margin-bottom: 15px;
}


.feature h3 {

    margin-bottom: 10px;
}


.feature p {

    color: #70798d;

    line-height: 1.5;

    font-size: 14px;
}


/* DASHBOARD */

.dashboard {

    max-width: 1200px;

    margin: auto;

    padding: 70px 20px;
}


.dashboard h1 {

    font-size: 42px;

    margin-bottom: 30px;
}


.stats {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 18px;
}


.stat-card {

    background: white;

    padding: 25px;

    border-radius: 15px;

    box-shadow:
        0 8px 25px rgba(20,30,70,.07);
}


.stat-card p {

    color: #747d90;

    margin-bottom: 12px;
}


.stat-card small {

    color: #7a8395;
}


.green {

    font-size: 19px;

    margin-bottom: 10px;
}


.yellow {

    font-size: 19px;

    margin-bottom: 10px;
}


.orange {

    font-size: 19px;

    margin-bottom: 10px;
}


#risk {

    font-size: 30px;

    margin-bottom: 10px;
}


/* PANEL */

.dashboard-panel {

    background: white;

    margin-top: 20px;

    padding: 30px;

    border-radius: 15px;
}


.dashboard-panel p {

    color: #70798d;

    margin: 10px 0 20px;
}


.chart {

    height: 220px;

    display: flex;

    align-items: end;

    gap: 20px;

    padding-top: 20px;
}


.chart div {

    flex: 1;

    background: #252d66;

    border-radius: 7px 7px 0 0;
}


/* ALERT */

.alert-box {

    margin-top: 20px;

    background: #fff;

    padding: 25px;

    border-left: 5px solid #252d66;

    border-radius: 10px;
}


.alert-box p {

    margin-top: 10px;

    color: #687286;
}


/* BUTTON */

.demo-button {

    margin-top: 25px;

    padding: 13px 20px;

    background: #252d66;

    color: white;

    border: none;

    border-radius: 8px;

    cursor: pointer;

    font-weight: bold;
}


#result {

    margin-top: 15px;

    font-weight: bold;
}


/* FORECAST */

.forecast-page {

    max-width: 1100px;

    margin: auto;

    padding: 70px 20px;
}


.forecast-page h1 {

    font-size: 45px;

    margin-bottom: 20px;
}


.forecast-card {

    margin-top: 40px;

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;
}


.forecast-card > div {

    background: white;

    padding: 30px;

    border-radius: 18px;

    box-shadow:
        0 8px 25px rgba(20,30,70,.07);
}


.high-risk {

    background: #252d66;

    color: white;

    padding: 7px 12px;

    border-radius: 20px;

    font-size: 11px;

    font-weight: bold;
}


.forecast-card h2 {

    font-size: 28px;

    margin: 25px 0 10px;
}


.forecast-number {

    font-size: 60px;

    font-weight: bold;

    margin-top: 10px;
}


.reasons p {

    margin-top: 18px;

    color: #687286;
}


/* COMPARISON */

.unique {

    margin-top: 70px;

    text-align: center;
}


.unique h2 {

    font-size: 35px;

    margin-bottom: 30px;
}


.comparison {

    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;

    max-width: 800px;

    margin: auto;
}


.comparison > div {

    padding: 30px;

    background: white;

    border-radius: 15px;

    box-shadow:
        0 8px 25px rgba(20,30,70,.07);
}


.threatsight {

    border: 2px solid #252d66;
}


.comparison h3 {

    margin-bottom: 20px;
}


.comparison p {

    margin: 10px;
}


.comparison b {

    opacity: .4;
}


.note {

    margin-top: 30px;

    padding: 18px;

    background: #fff;

    border-radius: 10px;

    color: #697286;

    text-align: center;
}


/* FOOTER */

footer {

    background: #11162f;

    color: white;

    text-align: center;

    padding: 45px;
}


footer p {

    margin: 10px 0;

    color: #cbd1e8;
}


/* RESPONSIVE */

@media(max-width: 850px) {

    .hero {

        grid-template-columns: 1fr;

    }

    .hero h1 {

        font-size: 45px;

    }

    .stats {

        grid-template-columns: 1fr 1fr;

    }

    .features {

        grid-template-columns: 1fr 1fr;

    }

    .forecast-card {

        grid-template-columns: 1fr;

    }

    .comparison {

        grid-template-columns: 1fr;

    }

    .nav-links {

        display: none;

    }

}


@media(max-width: 500px) {

    .stats,
    .features {

        grid-template-columns: 1fr;

    }

}